[defaults]
inventory = inventory/hosts.yml
roles_path = roles
# The path to your vault password file (do not commit the password file itself!)
vault_password_file = ./.vault_pass

stdout_callback = ansible.builtin.default
result_format = yaml

[privilege_escalation]
become = False
